body {
    font-family: goudy;
}

.container {
    margin: 20px auto;
    max-width: 910px;
    background-color: aliceblue;
    height: auto;
    padding-bottom: 40px;
  }

  .container h1 {
    color: rgb(48,48,48);
    font-size: 48pt;
    text-align: center;
    margin: 0;
  }

  .description {
    padding-bottom: 15px;
    text-align: center;
  }
  
  .choose {
    padding-top: 40px;
    width: 100%;
    height: 40px;
  }
  .fa {
    margin-right: 20px;
    font-size: 30px;
    color: black;
    float: right;
  }
  /******************************************
  Book stuff
  *******************************************/
  
  .book {
    display: inline-block;
    width: 230px;
    height: 390px;
    box-shadow: 0 0 20px #aaa;
    margin: 25px;
    padding: 10px 10px 10px 10px;
    vertical-align: top;
    transition: height 1s;
    background-color: white;
  }
  /* star button */
  .new:after {
    font-family: FontAwesome;
    content: "(NEW)";
    font-size: 35px;
    position: relative;
    color: black;
    
    top: -11cm;
    float: right;
    height: 40px;
    width: 110px;
    margin-left: -3px;
    margin-right: -3px;
    background: #ffd500;
    transform: rotate(2deg);
    border-radius: 20% 25% 20% 24%;
    padding: 0px 3px 3px 10px;
  }
  
  .book {
    transition: all 0.5s;
  }
  .book:hover {
    transform: scale(1.2);
  }

  .cover {
    border: 2px solid white;
    height: 85%;
    overflow: hidden;
  }
  
  .cover img {
    width: 100%;
  }
  
  .book p {
    margin-top: 12px;
    font-size: 20px;
  }
  
  .book .author {
    font-size: 15px;
  }
  @media (max-width: 941px) {
    .container {
      width: auto;
    }
    .book {
      margin: 49px;
    }
  }
  @media (max-width: 730px) {
    .book {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
  
  /**********************************
  display change
  ***********************************/
  /*book height smaller, cover opacity, move text onto cover and star too
  animate it */
  #list-th:target .book {
    height: 100px;
    padding: 10px;
  }
  
  #list-th:target img {
    opacity: .1;
  }
  
  #list-th:target p {
    margin-top: -62px;
  }
  /* remove button? */
  #large-th:target .book {
    height: 390px;
  }

  #list-th:target .new:after {
    top: -0.5cm;
  }

.title {
    text-decoration: none;
    color: black;
}

.book1 > h1 > a,
.book1 > h2 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
.book2 > h1 > a,
.book2 > h2 {
    color: #FF8E24;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
.book3 > h1 > a,
.book3 > h2 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.header-home:hover {
    color: black;
}


/* .display {
    padding-top: 30px;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "empty book1 book2 book3 empty2";
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.display > div > button {
    width: 60%;
    border-radius: 30px;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
    transition: all .5s;
    letter-spacing: 5px;
    height: 50px;
}

.display > div > button:hover {
    background-color: gray;
}

.display > div > a > img {
    width:75%;

}
.book1, .book2, .book3 {
    display:grid;
    grid-template-rows: 1fr .2fr .2fr;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.book1 {
    grid-area: book1;
}

.book2 {
    grid-area: book2;
}

.book3 {
    grid-area: book3;
}

.book1 > h2 {
    font-size: 36pt;
    margin: 0;
    padding: 5px;
    height:75px;
}

.book2 > h2 {
    font-family: cecep;
    font-size: 36pt;
    margin: 0;
    padding: 5px;
    height:75px;
}

.book3 > h2 {
    font-family: summer;
    font-size: 30pt;
    margin: 0;
    padding: 5px;
    height:75px;
}



.scrolldown {
    text-align: center;
    font-size: 24pt;
    padding-top: 25px;
    padding-bottom: 25px;
} */



.strips {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.strips > div > h1 {
    grid-area: title;
    font-size: 48pt;
}

.strips > div > img {
    height: 375px;
    grid-area: picture;
}

.strips > div > p {
    grid-area: description;
    font-size: 20pt;
    width: 325px;
    position: relative;
    top: -30px;

}

.strips > div > button {
    grid-area: button;
    width: 200px;
    border-radius: 30px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
    transition: all .5s;
    letter-spacing: 5px;
}

.strips > div > button:hover {
    background-color: gray;
}

.dark-strip, .error-strip {
    background-color: rgb(48,48,48);
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "title picture"
    "description picture"
    "button picture";
    align-items: center;
    justify-items: center;
    text-align: right;
    column-gap: 5%;
}

.error-strip {
    height: 80vh;
}

.dark-strip > h1, .dark-strip > p {
    color: rgb(160,160,160);
}

.light-strip {
    background-color: rgb(160,160,160);
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "picture title" 
    "picture description" 
    "picture button";
    align-items: center;
    justify-items: center;
    text-align: left;
    column-gap: 5%;
}

.light-strip > h1, .light-strip > p {
    color: rgb(48,48,48);
}

.dark-strip > h1, .dark-strip > p, 
.light-strip > img {
    text-align: right;
    align-self: right;
    justify-self: right;
}

.light-strip > h1, .light-strip > p, 
.dark-strip > img{
    text-align: left;
    align-self: left;
    justify-self: left;
}

.light-strip > button {
    align-self: left;
    justify-self: left;
}

.dark-strip > button {
    align-self: right;
    justify-self: right;
}

@media screen and (max-width: 1225px) {
    .book1 h2 {
        font-size: 24pt;
    }
    .book2 h2 {
        font-size: 30pt;
    }
    .book3 h2 {
        font-size: 24pt;
    }
}

@media screen and (max-width: 1000px) {
    .book1 h2 {
        font-size: 18pt;
        height:30px;
    }
    .book2 h2 {
        font-size: 24pt;
        height:30px;
    }
    .book3 h2 {
        font-size: 18pt;
        height:30px;
    }
    .strips > div > h1 {
        font-size: 36pt;
    }
    .strips > div > img {
        height: 325px;
    }
}

@media screen and (max-width: 750px) {
    .strips > div > img {
        height: 200px;
        padding-top: 6%;
    }

    .strips > div > h1 {
        font-size: 24pt;
    }


    .dark-strip {
        background-color: rgb(48,48,48);
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "title picture"
        "description picture"
        "button button";
        align-items: center;
        justify-items: center;
        text-align: right;
    }

    .error-strip {
        height: 79.5vh;
    }

    .light-strip {
        background-color: rgb(160,160,160);
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "picture title" 
        "picture description" 
        "button button";
        align-items: center;
        justify-items: center;
        text-align: left;
    }

    .strips > div > p {
        grid-area: description;
        font-size: 13pt;
        width: 80%;
    
    }

    .dark-strip > h1, .dark-strip > p {
        text-align: right;
        align-self: right;
        justify-self: right;
    }

    .light-strip > h1, .light-strip > p {
        text-align: left;
        align-self: left;
        justify-self: left;
    }

    .light-strip > button, .dark-strip > button {
        align-self: center;
        justify-self: center;
    }

    

    .display {
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "book1"
        "book2"
        "book3";
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    
    .display > div > button:hover {
        background-color: gray;
    }
    
    .display > div > a > img {
        height: 250px;
        width: auto;
    }

    .book1, .book2, .book3 {
        padding-top: 30px;
    }
    
    
    .book1 > h2 {
        font-size: 16pt;
        margin: 0;
        padding: 5px;
    }
    
    .book2 > h2 {
        font-family: cecep;
        font-size: 16pt;
        margin: 0;
        padding: 5px;
    }
    
    .book3 > h2 {
        font-size: 16pt;
        margin: 0;
        padding: 5px;
    }
    
    
    
    .scrolldown {
        visibility: hidden;
    }


    .book1 > h1 > a,
    .book1 > h2 {
        color: white;
        text-shadow:
        -.5px -.5px 0 #000,
        0   -.5px 0 #000,
        .5px -.5px 0 #000,
        .5px  0   0 #000,
        .5px  .5px 0 #000,
        0    .5px 0 #000,
        -.5px  .5px 0 #000,
        -.5px  0   0 #000;
    }
    .book2 > h1 > a,
    .book2 > h2 {
        color: #FF8E24;
        text-shadow:
        -.5px -.5px 0 #000,
        0   -.5px 0 #000,
        .5px -.5px 0 #000,
        .5px  0   0 #000,
        .5px  .5px 0 #000,
        0    .5px 0 #000,
        -.5px  .5px 0 #000,
        -.5px  0   0 #000;
    }
    .book3 > h1 > a,
    .book3 > h2 {
        color: white;
        text-shadow:
        -.5px -.5px 0 #000,
        0   -.5px 0 #000,
        .5px -.5px 0 #000,
        .5px  0   0 #000,
        .5px  .5px 0 #000,
        0    .5px 0 #000,
        -.5px  .5px 0 #000,
        -.5px  0   0 #000;
    }

}