.container {
    background-color: #1a1a1a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 5% 0%;
}

.all-posts {
    width: 60%;
    text-align: left;
    font-size: 16pt;
    margin-bottom: 5px;
}

.post {
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 30px;
    background-color: var(--header-background);
    color: white;
}

.title {
    padding: 7% 10% 0%;
    font-size: 36pt;
    margin: 0;

}

.published {
    padding: 0% 10% 5%;
    margin: 0;
}

#indent {
    text-indent: 2.5%;
}

.post p {
    padding: 0% 10%;
    margin:0;
    font-size: 16pt;
}

.post img {
    margin: 5% 10% 7%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 10%;
}


@media screen and (max-width: 750px) {
    .post, .all-posts {
        width:95%;
    }
    .title {
        font-size: 28pt;
    }
    #indent {
        text-indent: 5%;
    }
    .all-posts {
        margin-top: 10%;
    }
}